@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: "Nunito", sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.love_text {
    font-size: 4rem !important;   /* FORCE big size */
    color: #e91e63;
    margin-top: 20px;
    font-weight: 800;
}

.gif_container img {
    width: 300px; 
    max-width: 500px; 
    height: auto; 
}

.buttons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.buttons button {
    padding: 15px 25px;
    font-size: 1.2rem;
    font-family: "Nunito", sans-serif;
    border: none;
    border-radius: 30px;
    background-color: #e91e63;
    color: white;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.buttons button:hover {
    background-color: #d81b60;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .header_text {
        font-size: 1.5rem;
    }

    .love_text {
        font-size: 2.6rem !important;
    }

    .message_text {
        font-size: 2.2rem;
        padding: 0 15px;
    }
}

